<div class="chat-container">
    <h1>Talk to me!</h1>
    <p>Let's talk together, I am here to accompany your team discussion :)</p>
    <div style="height: 50px;"></div>
    <% emoji = JSON.parse(File.read(Rails.root.join('app', 'assets', 'config', 'emoji.json'))) %>
    <% emotion = emoji.keys.sample %>
    <%= image_tag "emoji/#{emoji[emotion]}", alt: "#{emotion.capitalize} Emoji", class: 'emoji-image' %>
    <div style="height: 50px;"></div>
    <p><%= @chat_prompt %></p>
    <div style="height: 20px;"></div>
    <%= form_with url: chat_chat_url, method: :get, local: true do %>
        <%= hidden_field_tag :emotion, emotion %>
        <%= submit_tag 'Start Chatting', class: 'btn btn-primary start-chat-button' %>
    <% end %>
</div>
