<div class="space-background" style="overflow: hidden; height: 100vh;">
    <div class="chat-container">
        <div class="ui-customization">
            <label for="ui-select">Choose UI:</label>
            <select id="ui-select" name="ui_select" class="form-control" style="border-radius: 10px; padding: 10px; border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
                <option value="home">Home</option>
                <option value="planet">Planet</option>
            </select>
            <button id="set-ui-button" class="btn btn-secondary" style="margin-top: 10px; border-radius: 10px; padding: 10px; border: 1px solid #ccc; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">Set UI</button>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const setUIButton = document.getElementById('set-ui-button');
                    const uiSelect = document.getElementById('ui-select');

                    setUIButton.addEventListener('click', function() {
                        const selectedUI = uiSelect.value;
                        window.location.href = `/chat/${selectedUI}`;
                    });
                });
            </script>
        </div>

        <%= render 'shared/planet_svg' %>
        <% if @voice.present? %>
            <div class="chat-message-center">
                <p><%= @chat_response %></p>
            </div>
        <% end %>
        <div style="height: 20px;"></div>
        <div class="form-and-content-container" style="display: flex; align-items: center; justify-content: center;">
            <%= form_with url: chat_chat_url, method: :get, local: true do %>
            <%= submit_tag 'Start Chatting', id: 'start-chat', class: 'btn btn-primary start-chat-button', style: 'margin-right: 20px;' %>
            <% end %>
            <div class="content-icon-container" style="text-align: center; display: inline-block;">
                <button id="content-button" class="content-button" style="background: none; border: none; cursor: pointer;">
                    <img src="<%= asset_path('icons/content.png') %>" alt="Content" class="content-icon"
                    style="width: 50px; height: 50px;" title="You can see summary of the conversation and customized suggestions for the topics you mention">
                </button>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const contentButton = document.getElementById('content-button');
                        contentButton.addEventListener('click', function() {
                            window.location.href = '<%= show_content_path %>';
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>

<%= render 'shared/voice_recognition' , custom_ui: 'planet'  %>
