<div class="content-container">
  <button id="robot-chat-button" class="robot-chat-button" style="background: none; border: none; cursor: pointer;">
      <img src="<%= asset_path('icons/robot-chat.png') %>" alt="robot-chat" class="robot-chat-icon"
      style="width: 50px; height: 50px;" title="Talk to chatbot again!">
  </button>
  <div style="display: flex; justify-content: space-between; gap: 10px;">
    <button id="user1-button" class="user-button user1-button">
      <img src="<%= asset_path('icons/planet.png') %>" alt="user1-icon" class="user1-icon" title="User 1">
      User 1
    </button>
    <button id="user2-button" class="user-button user2-button">
      <img src="<%= asset_path('icons/planet.png') %>" alt="user2-icon" class="user2-icon" title="User 2">
      User 2
    </button>
    <button id="user3-button" class="user-button user3-button">
      <img src="<%= asset_path('icons/planet.png') %>" alt="user3-icon" class="user3-icon" title="User 3">
      User 3
    </button>
    <button id="user4-button" class="user-button user4-button">
      <img src="<%= asset_path('icons/planet.png') %>" alt="user4-icon" class="user4-icon" title="User 4">
      User 4
    </button>
  </div>
  <h1>Meditations for any mind, any mood, any goal</h1>

  <div class="pastel-rounded">
    <h2>Meditation benefits</h2>
    <ul>
      <li>What if I don't notice meditation benefits right away?</li>
      <li>Meditation for stress</li>
      <li>Meditation for sadness</li>
      <li>Meditation for Self-Compassion</li>
      <li>Meditation for self-esteem</li>
      <li>Meditation for happiness</li>
      <li>Meditation for Parenting</li>
    </ul>
  </div>

  <div class="pastel-rounded">
    <h2>How to meditate</h2>
    <ul>
      <li>How to meditate</li>
      <li>What is the difference between thinking and meditating?</li>
      <li>What the Noting Technique is, and how to take advantage of it</li>
    </ul>
  </div>

  <div class="pastel-rounded">
    <h2>Guided meditations</h2>
    <ul>
      <li>From courses, single exercises, and bite-sized sessions, Headspace teachers provide guided meditations to help you navigate whatever life throws your way.</li>
      <li>Body scan meditation to reduce stress</li>
      <li>Gratitude meditation</li>
      <li>Walking meditation</li>
      <li>Running meditation</li>
      <li>Meditation for compassion</li>
    </ul>
  </div>
</div>
<%= render 'shared/content'  %>
